#heading{
    color: blue;
    background-color: yellow;
}
body{
    background-color: grey;
}
button{
    color: white;
    background-color: blue;
}
.heading1{
    color: red;
    background-color: #fff;
}
p{
    color: white;
    background-color:red;


}

.box{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}